<!--
	=================================================================
	EXT:nnhelpers/Resources/Templates/Form/ExtConfigurationForm.html
-->

<div class="nn-p-8 nn-maxw-800">
	<h1>Einstellungen für {config.ctrl.title}</h1>
	<form method="post" action="admin-post.php">
			
		{f:render(partial:'Form/FormFields', arguments:_all)}
	
		<hr />
		{f:render(partial:'Form/Fields/Submit', arguments:_all)}
	</form>
</div>
