/*
	-----------------------------------------
	nn.css Optimierungen für WordPress
*/

input.nn-form-control {
	border-radius: 0;
	padding: 0 8px;
	min-height: 25px;
	line-height: 1.8;
	font-size: 0.9rem;
}

.nn-input-group > .nn-form-control {
	margin-right: -1px;
}

.nn-input-group > .nn-input-group-text {
	padding: 0.3rem 0.5rem 0 0.5rem;
}

input.nn-form-control,
input.nn-form-control:focus,
.nn-input-group > .nn-input-group-text {
	border-color: #ccc;
	box-shadow: none;
}

.nn-form-label {
	font-weight: 500;
	font-size: 0.82rem;
	margin-top: 5px;
}

/*
	-----------------------------------------
	Meta-Box: Allgemeines
*/

.nnwp-cpt-fields .description {
	font-size: 90%;
	color: #555;
}

.nnwp-cpt-fields {
	margin: 10px 0 10px 0;
}

.nnwp-cpt-fields * {
	box-sizing: border-box;
}

.nnwp-cpt-fields .remove:before {
	position: absolute;
	content: "\f335";
	font-family: 'dashicons';
	font-size: 20px;
	text-decoration: inherit;
	text-transform: none;
	font-style: normal;
	display: inline-block;
	right: -5px;
	top: 0;
	padding: 0 10px;
	cursor: pointer;
	text-shadow: 0 0 10px rgba(255,255,255,0.6), 0 0 1px rgba(255,255,255,1);
}

.nnwp-cpt-fields .search-box {
	position: relative;
}

.nnwp-cpt-fields .search-box .search-icon {
	position: absolute;
	right: 5px;
	top: 4px;
	pointer-events: none;
	color: #aaa;
}

.nnwp-cpt-fields .search-box input:not(:placeholder-shown) ~ .search-icon:before {
	opacity: 0;
}

.nnwp-cpt-fields .nn-form-control[type="search"]::-webkit-search-cancel-button {
	margin-right: -6px;
	width: 18px;
	height: 18px;
}

/*
	-----------------------------------------
	Meta-Box: Relationen
*/

.nnwp-metabox-relation .results li {
	max-width: 100%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 5px 25px 5px 10px;
	background: #eee;
	margin: 0 0 5px 0;
	user-select: none;
}

/*
	-----------------------------------------
	Meta-Box: Media
*/

.nnwp-metabox-media .image {
	position: relative;
	background: #fff none center center no-repeat;
	background-size: cover;
	padding-top: 100%;
	border: 1px solid #ddd;
}

/*
	-----------------------------------------
	Meta-Box: Category
*/

.nnwp-metabox-category ul ul {
	margin: 10px 0 10px 15px;
}

.nnwp-metabox-category .scroll {
	max-height: 300px;
	background: #eee;
	padding: 5px 10px;
	overflow-y: scroll;
}

.nnwp-metabox-category li label {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: calc(100% - 40px);
	white-space: nowrap;
	display: inline-block;
}