<!--
    ======================================================
    EXT:nnhelpers/Resources/Partials/Form/FormFields.html
-->

{f:render(partial:'Form/Fields/HiddenFields', arguments:_all)}

<f:if condition="{config.ctrl.description}">
    <p>{config.ctrl.description->f:format.raw()}</p>
</f:if>

<f:for each="{config.columns}" as="column" key="name">
    <f:render partial="Form/Fields/{column.config.type->nn:format.case(mode:'capital')}" arguments="{_all}" optional="1">
        <div class="nn-alert nn-alert-danger nn-my-5">
            Element <code>{column.config.type}</code> nicht definiert.
        </div>
    </f:render>
</f:for>