<!--
	===============================================================
	EXT:nnhelpers/Resources/Partials/Form/Common/Description.html
-->
<f:if condition="{column.description}">
    <p class="nn-mb-3 description">
        {column.description->f:format.raw()}
    </p>
</f:if>

