<!--
	==============================================================
	EXT:nnhelpers/Resources/Partials/Form/Fields/Category.html
-->

{gp.{name}->nn:format.unserialize()->f:variable(name:'current')}
{nn:taxonomy.get(type:'category', tree:1)->f:variable(name:'categoryTree')}

<div class="nn-mb-3 nnwp-metabox-category" data-nnwp-metabox="category" data-config="{column.config->nn:format.attrEncode()}">
    <label class="nn-form-label">{column.label}</label>

    <input type="hidden" name="{formNamePrefix}[{name}]" value="" />

    <div class="scroll">
        {f:render(section:'branch', arguments:'{branch:categoryTree.0, depth:0, formNamePrefix:formNamePrefix, name:name, current:current}')}
    </div>
    
</div>

<f:section name="branch">
    <f:if condition="{branch.children}">
        {f:variable(name:'depth', value:'{depth+1}')}
        <ul>
            <f:for each="{branch.children}" as="node">
                <f:if condition="{node.term_id}">
                    <li>
                        {nn:uniqid()->f:variable(name:'uniqId')}
                        <input title="[{node.term_id}]" {f:if(condition:'{node.term_id->nn:arrays.in(arr:current)}', then:'checked')} type="checkbox" id="nncb-{uniqId}" name="{formNamePrefix}[{name}][]" value="{node.term_id}" />
                        <label title="[{node.term_id}]" for="nncb-{uniqId}">{node.name->f:format.raw()}</label>
                        <f:if condition="{depth} < 4">
                            {f:render(section:'branch', arguments:'{branch:node, depth:depth, formNamePrefix:formNamePrefix, name:name, current:current}')}
                        </f:if>
                    </li>
                </f:if>
            </f:for>
        </ul>        
    </f:if>

</f:section>