<!--
	=====================================================
	EXT:nnhelpers/Resources/Partials/Form/Text.html
-->
<div class="nn-mb-3 nn-form-check">
	{nn:uniqid()->f:variable(name:'uid')}
    <input type="hidden" name="{formNamePrefix}[{name}]" value="0">
    <input type="checkbox" name="{formNamePrefix}[{name}]" value="1" {f:if(condition:'{gp.{name}}', then:'checked')} class="nn-form-check-input" id="{uid}">
    <label class="nn-form-check-label" for="{uid}">{column.label}</label>
    {f:render(partial:'Form/Common/Description', arguments:_all)}
</div>

