<!--
	================================================================
	EXT:nnhelpers/Resources/Partials/Form/Fields/HiddenFields.html
-->

<div class="nn-d-none">
    <f:render partial="Form/Fields/Nonce" arguments="{_all}" />
    
    <f:if condition="{action}">
        <input type="hidden" name="action" value="{action}" />
    </f:if>
    
    <f:if condition="{returnUrl}">
        <input type="hidden" name="returnUrl" value="{returnUrl}" />
    </f:if>
</div>