<!--
    =====================================================
    EXT:nnhelpers/Resources/Partials/Form/Input.html
-->
<div class="nn-mb-3">
    <label class="nn-form-label">{column.label}</label>
    <input type="text" name="{formNamePrefix}[{name}]" class="nn-form-control" value="{gp.{name}}" placeholder="{column.config.placeholder}" />
    {f:render(partial:'Form/Common/Description', arguments:_all)}
</div>