<!--
    =========================================================
    EXT:nnhelpers/Resources/Partials/Form/Fields/Media.html
-->
<div class="nn-mb-3 nnwp-metabox-media" data-nnwp-metabox="media" data-config="{column.config->nn:format.attrEncode()}">
    <label class="nn-form-label">{column.label}</label>
    
    <div class="nn-d-none template">
        {f:render(section:'row', arguments:_all)}
    </div>

    {gp.{name}->nn:format.unserialize()->f:variable(name:'images')}

    <div class="results nn-row nn-mx--1 nn-mb-4">
        <f:for each="{images}" as="uid">
            {f:render(section:'row', arguments:_all)}
        </f:for>
    </div>

    <div class="nn-text-end">
        <button class="add button button-primary">{column.label} hinzufügen</button>
    </div>
</div>


<f:section name="row">

    <div class="nn-col-6 nn-px-1 nn-mb-2 item">
        <div class="image" style="background-image:url({f:uri.image(src:uid, width:'200c', height:200)})">
            <i class="remove"></i>
        </div>
        <input type="hidden" name="{formNamePrefix}[{name}][]" value="{uid}" />
    </div>
</f:section>