<!--
	==============================================================
	EXT:nnhelpers/Resources/Partials/Form/FormField/Relation.html
-->

<div class="nn-mb-3 nnwp-metabox-relation" data-nnwp-metabox="relation" data-config="{column.config->nn:format.attrEncode()}">
    <label class="nn-form-label">{column.label}</label>
    <div class="nn-mb-2 search-box">
        <input type="search" class="nn-form-control" placeholder="Suche" />
        <span class="search-icon dashicons-before dashicons-search"></span>
    </div>

    <div class="nn-d-none template">
        {f:render(section:'row', arguments:_all)}
    </div>

    <input type="hidden" name="{formNamePrefix}[{name}]" value="" />

    <ul class="results">
        <f:if condition="{column.config.maxitems} == 1">
            {gp.{name}->f:variable(name:'uid')}    
            {nn:post.get(ID:uid)->f:variable(name:'post')}
            {f:render(section:'row', arguments:_all)}
        </f:if>
        <f:if condition="{column.config.maxitems} != 1">
            <f:for each="{gp.{name}->nn:format.unserialize()}" as="uid">
                {nn:post.get(ID:uid)->f:variable(name:'post')}
                {f:render(section:'row', arguments:_all)}    
            </f:for>
        </f:if>
    </ul>

    {f:render(partial:'Form/Common/Description', arguments:_all)}
</div>

<f:section name="row">
    <li>
        <span>{post.post_title}</span><i class="remove"></i>
        <input type="hidden" name="{formNamePrefix}[{name}][]" value="{uid}" />
    </li>
</f:section>