<!--
    ==========================================================
    EXT:nnhelpers/Resources/Partials/Form/Fields/Select.html
-->
<div class="nn-mb-3">
    <label class="nn-form-label">{column.label}</label>
    <f:form.select options="{a:1,b:2}" name="{formNamePrefix}[{name}]" class="nn-form-control" value="{gp.{name}}" />
</div>