<!--
	=====================================================
	EXT:nnhelpers/Resources/Partials/Form/Text.html
-->
<div class="nn-mb-3">
	<label class="nn-form-label">{column.label}</label>
	<f:if condition="{column.config.enableRichtext}">
		<f:then>
			{nn:form.rte(content:'{gp.{name}}', name:'{formNamePrefix}[{name}]', settings:column.config)}
		</f:then>
		<f:else>
			<textarea class="nn-form-control" name="{formNamePrefix}[{name}]">{gp.{name}}</textarea>
		</f:else>
	</f:if>
</div>